<!DOCTYPE html>
<html>
<head>
  <title>RdrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  body {

  	font-family: helvetica;
  	font-size: 12pt;
    

  }

  #menu {
	text-align: center;
	padding: 20px;
	background: #aaa;
	border-bottom: 1px solid #333;
  }

  </style>

</head>
<body>

<div id="menu">
<div style="position:absolute; left: 10px; top: 10px;"><h1 style="font-weight: bold;
    text-shadow: black 3px 3px 2px;
    margin-top: -8px;
    font-size: 50px;">RDR</h1></div>
<a class="btn btn-lg btn-primary" href="/traffic">Traffico</a>
<a class="btn btn-lg btn-primary" href="/switch">Switch</a>
<a class="btn btn-lg btn-primary" href="/firewallfilter">Firewall</a>
<a class="btn btn-lg btn-primary" href="/firewallnat">Nat</a>
<a class="btn btn-lg btn-primary" href="/log">Log</a>
</div>

<%= yield %>

<div style="position: fixed; padding: 10px; bottom: 0px; right: 0px; background: #eee;">RDR - A creation by Enrico Lorenzoni</div>
</body>
</html>
