<!DOCTYPE html>
<html>
<head>
  <title>RdrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  body {

  	font-family: helvetica;
  	font-size: 12pt;
    

  }

  #menu {
	text-align: center;
	padding: 20px;
	background: #aaa;
	border-bottom: 1px solid #333;
  }

  </style>

</head>
<body>

<div id="menu">
<a class="btn btn-lg btn-primary" href="/traffic">Traffico</a>
<a class="btn btn-lg btn-primary" href="/switch">Switch</a>
<a class="btn btn-lg btn-primary" href="/firewallfilter">Firewall</a>
<a class="btn btn-lg btn-primary" href="/firewallnat">Nat</a>
<a class="btn btn-lg btn-primary" href="/trace">Trace</a>
</div>

<%= yield %>

</body>
</html>
