<!DOCTYPE html>
<html>
<head>
  <title>RdrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  body {

  	font-family: helvetica;
  	font-size: 12pt;

  }
  </style>

</head>
<body>

<%= yield %>

</body>
</html>
