<h1>Switch#index</h1>
<p>Find me in app/views/switch/index.html.erb</p>


<style>
#bridgedata {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px black solid;
    background: #ddd;
}
.bridge {
    border: 1px solid black;
    background: #ccc;
    padding: 10px;  
}
.bridgename {
  font-size: 20pt;
}
.port {
      margin-left: 20px;
      border-left: 1px solid black;
      padding-left: 10px;
      padding-bottom:10px;
}
.host {
      margin-left: 20px;
      border-left: 1px solid black;
      padding-left: 10px;
}



</style>


<div id="bridgedata">

 <div class="bridge">
  <div class="bridgename">br0</div>
  <div class="port">
    <div class="portname">eth0</div>
    <div class="host">foo:bar</div>
    <div class="host">test:2</div>
  </div>  
  <div class="port">
    <div class="portname">eth1</div>
    <div class="host">test:eth1</div>
  </div>
 </div>

 <div class="bridge">
  <div class="bridgename">br1</div>
  <div class="port">
    <div class="portname">eth0</div>
    <div class="host">foo:bar</div>
    <div class="host">test:2</div>
  </div>  
  <div class="port">
    <div class="portname">eth1</div>
    <div class="host">test:eth1</div>
  </div>
 </div>


</div>


<script>

setInterval(function(){

  jQuery.ajax("/switch/getdata", {complete: function(data) {
    out = JSON.parse(data.responseText);

    outhtml = "";

    bridges = {};

    for (i = 0; i < out.length; i++) {

      bridge = out[i].switch;
      port = out[i].port;
      mac = out[i].mac;
      timeout = out[i].timeout;

      if (bridges[bridge] === undefined) {
        bridges[bridge] = {};
      }

      if (bridges[bridge][port] === undefined) {
        bridges[bridge][port] = [];
      }

      bridges[bridge][port].push({mac: mac, timeout: timeout});

    }

    console.log(bridges);

  }})

},1000);

</script>