<h1>Switch L2</h1>


<style>
#bridgedata {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px black solid;
    background: #ddd;
    box-shadow:  3px 3px 10px 0px;
}
.bridge {
    border: 1px solid black;
    background: #ccc;
    padding: 10px;  
    box-shadow: 3px 3px 8px 0px;
}
.bridgename {
  font-size: 20pt;
}
.port {
      margin-left: 20px;
      border-left: 1px solid black;
      padding-left: 10px;
      padding-bottom:10px;
}
.host {
      margin-left: 20px;
      border-left: 1px solid black;
      padding-left: 10px;
}



</style>


<div id="bridgedata">
caricamento...
</div>


<script>

setInterval(function(){

  jQuery.ajax("/switch/getdata", {complete: function(data) {
    out = JSON.parse(data.responseText);

    outhtml = "";
    bridges = {};

    // porto il json in un hash innestato
    for (i = 0; i < out.length; i++) {

      bridge = out[i].switch;
      port = out[i].port;
      mac = out[i].mac;
      timeout = out[i].timeout;
      if (bridges[bridge] === undefined) {
        bridges[bridge] = {};
      }
      if (bridges[bridge][port] === undefined) {
        bridges[bridge][port] = [];
      }
      bridges[bridge][port].push({mac: mac, timeout: timeout});
    }

    now = new Date().getTime() / 1000;

    // creo l'html
    for (var br in bridges) {
      outhtml += "<div class='bridge'><div class='bridgename'>"+br+"</div>";
      for (var iface in bridges[br]) {
        outhtml += "<div class='port'><div class='portname'>"+iface+"</div>";
        for (var idx in bridges[br][iface]) {
          to = bridges[br][iface][idx].timeout;
          diff = parseInt(now-to);
          outhtml += "<div class='host'>"+bridges[br][iface][idx].mac+" (eta`: "+diff+"s)</div>";
        }
        outhtml += "</div>";
      }
      outhtml += "</div>";
    }

    jQuery("#bridgedata").html(outhtml);

  }})

},1000);

</script>