<center><h1>Traffico L2</h1></center>
<br/>
<center>
<%
@lst.sort!
@lst.each do |file|


	if file[-4,4] == ".png" && file[0,4] == "rrd-"
%>
<h3><%= file.chomp(".png").sub("rrd-", "") %></h3>

<%= image_tag(file) %>
<br/><br/>

<%
	end
end

 %>
</center>